
<p>{{ 'GroupPermissions_DescriptionGroupsTab'|translate }}</p>

<div class="card">
    <div class="card-content">
        <div>
            <h2>{{ 'GroupPermissions_CreateNewGroup'|translate }}</h2>
            <div>
                <input id="groupPermissionsGroupCreateGroup" type="text" />
                <input id="groupPermissionsGroupCreateGroupButton" type="button" value="{{ 'GroupPermissions_CreateNewGroupButton'|translate }}" style="padding: 8px;"/>
            </div>
        </div>

        <div style="padding: 10px 0 0 0;">
            {% import 'ajaxMacros.twig' as ajax %}
            {{ ajax.errorDiv('ajaxErrorCreateGroup') }}
            {{ ajax.loadingDiv('ajaxLoadingCreateGroup') }}
        </div>
    </div>
</div>


<div class="card">
    <div class="card-content">
        <h2>{{ 'GroupPermissions_ManageGroup'|translate }}</h2>

        <select name="idGroup" id="groupPermissionsGroupSelect">
            {% for idgroup,name in groups %}
                <option value="{{ idgroup }}" {% if selectedIdGroup==idgroup %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <div
            vue-entry="GroupPermissions.ManageGroupMembers"
            selected-id-group="{{ selectedIdGroup }}"
            selected-group-name="{{ selectedGroupName }}"
            users="{{ users|json_encode }}"
            group-users="{{ groupUsers|json_encode }}"
        ></div>
        
       <div style="padding: 10px 0 0 0;">
            {% import 'ajaxMacros.twig' as ajax %}
            {{ ajax.errorDiv('ajaxErrorManageGroupMember') }}
            {{ ajax.loadingDiv('ajaxLoadingManageGroupMember') }}
       </div>
        
        <div class="ui-confirm" id="confirmRenameGroup">
            <h2>{{ 'GroupPermissions_RenameGroupConfirm'|translate("<span id='confirmOldGroupName'></span>", "<span id='confirmNewGroupName'></span>")|raw }}</h2>
            <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
            <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
        </div>
        
        <div style="margin-top: 70px;">
            <h3>{{ 'GroupPermissions_RenameGroup'|translate }}</h3>
            <div>
                <input id="groupPermissionsGroupRenameGroup" type="text" />
                <input id="groupPermissionsGroupRenameGroupButton" type="button" value="{{ 'GroupPermissions_RenameGroupButton'|translate }}" style="padding: 8px;"/>
            </div>
        </div>

        <div style="padding: 10px 0 0 0;">
            {% import 'ajaxMacros.twig' as ajax %}
            {{ ajax.errorDiv('ajaxErrorManageGroupRename') }}
            {{ ajax.loadingDiv('ajaxLoadingManageGroupRename') }}
        </div>

        <div class="ui-confirm" id="confirmDeleteGroup">
            <h2>{{ 'GroupPermissions_DeleteGroupConfirm'|translate("<span id='confirmDeleteGroupName'></span>")|raw }}</h2>
            <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
            <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
        </div>
                   
        <div style="margin-top: 70px;">
            <h3>{{ 'GroupPermissions_DeleteGroup'|translate }}</h3>
            <input id="groupPermissionsGroupDeleteGroupButton" type="button" value="{{ 'GroupPermissions_DeleteGroupButton'|translate }}" style="padding: 8px;"/>
        </div>       

        <div style="padding: 10px 0 0 0;">
            {% import 'ajaxMacros.twig' as ajax %}
            {{ ajax.errorDiv('ajaxErrorManageGroupDelete') }}
            {{ ajax.loadingDiv('ajaxLoadingManageGroupDelete') }}
        </div>
        
    </div>
</div>

